<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Nayeebrahmin - Free Matrimony Services</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Template CSS Files  -->
		<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">

	</head>
	<body>
	<!-- Topbar Starts -->
		<div class="topbar text-white">
		<!-- Nested Container Starts -->
			<div class="container px-md-0 clearfix text-center">
				<p class="mb-2 mb-md-0 float-md-left">Free Registrations for Matrimony & Business Services</p>
				<ul class="list-unstyled list-inline topbar-links mb-0 float-md-right text-md-right">
					<li class="list-inline-item"><i class="fa fa-lock mr-2"></i> <a href="#" class="text-white">Register</a></li>
					<li class="ml-md-4 list-inline-item"><i class="fa fa-user mr-2"></i> <a href="#" class="text-white">My Account</a></li>
				</ul>
			</div>
		<!-- Nested Container Ends -->
		</div>
	<!-- Topbar Ends -->
	<!-- Main Header Starts -->
		<header class="main-header">
		<!-- Nested Container Starts -->
			<div class="container px-md-0 text-center clearfix">
			<!-- Logo Starts -->
				<div class="logo float-sm-left mb-3 mb-sm-0">
					<a href="index.html"><img src="images/logo-nbc.png" alt="Nayeebrahmin Community" class="img-fluid"></a>
				</div>
			<!-- Logo Ends -->
			<!-- Button Starts -->
				<a href="#" class="btn btn-main btn-style-1 animation float-sm-right text-uppercase text-weight-bold text-small-2 rounded-2">submit your details</a>
			<!-- Button Ends -->
			</div>
		<!-- Nested Container Ends -->
		</header>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
		<nav id="nav" class="main-menu navbar navbar-expand-lg rounded-0">
		<!-- Nested Container Starts -->
			<div class="container px-md-0">
			<!-- Navbar Toggler Starts -->
				<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-cat-collapse" aria-controls=".navbar-cat-collapse" aria-expanded="false" aria-badge="Toggle navigation">
					<span class="navbar-toggler-icon fa fa-bars"></span>
				</button>
			<!-- Navbar Toggler Ends -->
			<!-- Navbar Cat collapse Starts -->
				<div class="collapse navbar-collapse navbar-cat-collapse animation">
				<!-- Nav Links Starts -->
					<ul class="nav navbar-nav text-uppercase">
						<li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Matrimony</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Services</a></li>
						<li class="nav-item dropdown d-none">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
							<div class="dropdown-menu rounded-0">
								<a class="dropdown-item" href="team.html">Team</a>
								<a class="dropdown-item" href="faq.html">Faq's</a>
								<a class="dropdown-item" href="pricing.html">Pricing</a>
								<a class="dropdown-item" href="gallery.html">Gallery</a>
								<a class="dropdown-item" href="404.html">404</a>
								<a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
							</div>
						</li>
						<li class="nav-item"><a href="#" class="nav-link">Classifides</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Members</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
					</ul>
				<!-- Nav Links Ends -->
				<!-- Search Form Starts -->					
					<form class="form-inline ml-lg-auto d-none d-lg-block">
						<div class="input-group">
						  <input type="text" class="form-control" placeholder="Search">
						  <span class="input-group-append">
							<button class="btn btn-default" type="button">
								<i class="fa fa-search"></i>
							</button>
						  </span>
						</div>
					</form>
				<!-- Search Form Ends -->
				</div>
			<!-- Navbar Cat collapse Ends -->
			</div>
		<!-- Nested Container Ends -->
		</nav>
	<!-- Main Menu Ends -->
	<!-- Page Banner Starts -->
		<div class="page-banner">
        <!-- Banner Image Starts -->
            <img src="images/banners/page-banners/page-banner-img1.jpg" alt="Image" class="img-fluid">
        <!-- Banner Image Ends -->
        <!-- Nested Container Starts -->
            <div class="container px-md-0 text-white text-center d-none d-md-block">
                <h2 class="text-weight-semi-bold">Nayeebrahmin</h2>
        		<h2 class="text-weight-light">Free Matrimony Services</h2>
				<h2 class="text-weight-light">Member Registration Form</h2>
            </div>
        <!-- Nested Container Ends -->
		</div>
	<!-- Page Banner Ends -->
	
	<!-- Main Container Starts -->
		<div class="main-container container px-md-0">
		<!-- Profile Form Starts -->
			<form class="profile-form">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- Personal Details Starts -->
					<div class="col-lg-6 col-sm-12">
					<!-- Heading Starts -->
						<h4 class="my-4 text-weight-semi-bold text-color-brand">Personal Details</h4>
					<!-- Heading Ends -->
					<!-- Fields Starts -->
						<div class="row">
						<!-- Fullname Starts -->
							<div class="col-12">
								<div class="form-group">
									
									<label class="text-weight-medium">Head of the Family Members</label>
									<input type="text" name="profile-fullname" id="profile-fullname" class="form-control animation rounded-2" placeholder="Full Name">
								</div>
							</div>
						<!-- Fullname Ends -->
						<!-- Middle Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-fathername" id="profile-fathername" class="form-control animation rounded-2" placeholder="Middle Name">
								</div>
							</div>
						<!-- Middle Name Ends -->
						<!-- Surname Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-mothername" id="profile-mothername" class="form-control animation rounded-2" placeholder="Surname">
								</div>
							</div>
						<!-- Surname Name Ends -->
						<!-- Father Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-fathername" id="profile-fathername" class="form-control animation rounded-2" placeholder="Father Name">
								</div>
							</div>
						<!-- Father Name Ends -->
						<!-- Mother Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-mothername" id="profile-mothername" class="form-control animation rounded-2" placeholder="Mother Name">
								</div>
							</div>
						<!-- Mother Name Ends -->
						<!-- Sub Caste Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-subcaste" id="profile-subcaste" class="custom-select">
										<option value="select">Occupation</option>
										<option value="caste1">Business</option>
										<option value="caste2">Pvt Job</option>
										<option value="caste2">Govt Job</option>
									</select>
								</div>
							</div>
						<!-- Sub Caste Ends -->
						
						
						<!-- Gothram Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-gothram" id="profile-gothram" class="form-control animation rounded-2" placeholder="Gothram">
								</div>
							</div>
						<!-- Gothram Ends -->
						
						
						<!-- Marital Status Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-marital-status" id="profile-marital-status" class="custom-select">
										<option value="select">Marital Status</option>
										<option value="single">Single</option>
										<option value="married">Married</option>
										<option value="divorce">Divorce</option>
									</select>
								</div>
							</div>
						<!-- Marital Status Ends -->
						
						
						<!-- NRI Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-nri" id="profile-nri" class="form-control animation rounded-2" placeholder="NRI Living Country Name">
								</div>
							</div>
						<!-- NRI Ends -->
						
						<!-- Date of Birth Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label class="text-weight-medium">Community</label>
									<div class="d-flex justify-content-between">
										<select name="profile-marital-status" id="profile-marital-status" class="custom-select">
										<option value="select">Konda</option>
										<option value="single">Siri</option>
										
									</select>
									</div>
								</div>
							</div>
						<!-- Date of Birth Ends -->
						
						<!-- Date of Birth Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label class="text-weight-medium">Date of Birth</label>
									<div class="d-flex justify-content-between">
										<select name="profile-dob-date" id="profile-dob-date" class="custom-select alt-1">
											<option value="dd">DD</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
										<select name="profile-dob-month" id="profile-dob-month" class="custom-select alt-1 mx-2">
											<option value="mm">MM</option>
											<option value="jan">JAN</option>
											<option value="feb">FEB</option>
										</select>
										<select name="profile-dob-year" id="profile-dob-year" class="custom-select alt-1">
											<option value="mm">YYYY</option>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
										</select>
									</div>
								</div>
							</div>
						<!-- Date of Birth Ends -->
						</div>
					<!-- Fields Ends -->
					</div>
				<!-- Personal Details Ends -->
				<!-- Education & Communication Details Starts -->
					<div class="col-lg-6 col-sm-12">
										
					<!-- Heading Starts -->
						<h4 class="my-4 text-weight-semi-bold text-color-brand">Communcation Details</h4>
					<!-- Heading Ends -->
					<!-- Fields Starts -->
						<div class="row">
						<!-- Native District Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-native-district" id="profile-native-district" class="form-control animation rounded-2" placeholder="Native District">
								</div>
							</div>
						<!-- Native District Ends -->
						<!-- Residence Type Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-residence-type" id="profile-residence-type" class="custom-select">
										<option value="select">Residence Type</option>
										<option value="option1">Option 1</option>
										<option value="option2">Option 2</option>
									</select>
								</div>
							</div>
						<!-- Residence Type Ends -->
						<!-- Present Address Starts -->
							<div class="col-sm-12">
								<div class="form-group">
									<textarea name="profile-present-address" id="profile-present-address" rows="4" class="form-control animation rounded-2" placeholder="Present Address"></textarea>
								</div>
							</div>
						<!-- Present Address Ends -->
						<!-- Phone Number Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="phone" name="profile-phone" id="profile-phone" class="form-control animation rounded-2" placeholder="Phone Number">
								</div>
							</div>
						<!-- Phone Number Ends -->
						<!-- Email Address Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="email" name="profile-email" id="profile-email" class="form-control animation rounded-2" placeholder="Email Address">
								</div>
							</div>
						<!-- Email Address Ends -->
						</div>
					<!-- Fields Ends -->	
					</div>
				<!-- Education & Communication Details Ends -->
				
				<!-- Family Details Starts -->
					<div class="col-lg-12 col-sm-12">
					<!-- Heading Starts -->
						<h4 class="my-4 text-weight-semi-bold text-color-brand">Family Members Data</h4>
					<!-- Heading Ends -->
					<!-- Fields Starts -->
						
						<label class="text-weight-bold">Member Details 1</label>
						<div class="row">
						
						
						<!-- Father Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-partner-father-name" id="profile-partner-father-name" class="form-control animation rounded-2" placeholder="Member Name">
								</div>
							</div>
						<!-- Father Name Ends -->
						<!-- Qualification & Profession Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-partner-qualification-profession" id="profile-partner-qualification-profession" class="custom-select">
										<option value="select">Relation With Head</option>
										<option value="option1">Son</option>
										<option value="option2">Daughter</option>
									</select>
								</div>
							</div>
						<!-- Qualification & Profession Ends -->
						<!-- Marital Status Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-marital-status" id="profile-marital-status" class="custom-select">
										<option value="select">Marital Status</option>
										<option value="single">Single</option>
										<option value="married">Married</option>
										<option value="divorce">Divorce</option>
									</select>
								</div>
							</div>
						<!-- Marital Status Ends -->
						<!-- Qualification & Profession Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-partner-qualification-profession" id="profile-partner-qualification-profession" class="custom-select">
										<option value="select">Qualification & Profession</option>
										<option value="option1">Option 1</option>
										<option value="option2">Option 2</option>
									</select>
								</div>
							</div>
						<!-- Qualification & Profession Ends -->
						
						<!-- Date of Birth Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label class="text-weight-medium">Date of Birth</label>
									<div class="d-flex justify-content-between">
										<select name="profile-dob-date" id="profile-dob-date" class="custom-select alt-1">
											<option value="dd">DD</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
										<select name="profile-dob-month" id="profile-dob-month" class="custom-select alt-1 mx-2">
											<option value="mm">MM</option>
											<option value="jan">JAN</option>
											<option value="feb">FEB</option>
										</select>
										<select name="profile-dob-year" id="profile-dob-year" class="custom-select alt-1">
											<option value="mm">YYYY</option>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
										</select>
									</div>
								</div>
							</div>
						<!-- Date of Birth Ends -->
						
						</div>
					<!-- Fields Ends -->
					
					<p>&nbsp</p>
					
					<!-- Fields Starts -->
						
						<label class="text-weight-bold">Member Details 2</label>
						<div class="row">
						
						
						<!-- Father Name Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="profile-partner-father-name" id="profile-partner-father-name" class="form-control animation rounded-2" placeholder="Member Name">
								</div>
							</div>
						<!-- Father Name Ends -->
						<!-- Qualification & Profession Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-partner-qualification-profession" id="profile-partner-qualification-profession" class="custom-select">
										<option value="select">Relation With Head</option>
										<option value="option1">Son</option>
										<option value="option2">Daughter</option>
									</select>
								</div>
							</div>
						<!-- Qualification & Profession Ends -->
						<!-- Marital Status Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-marital-status" id="profile-marital-status" class="custom-select">
										<option value="select">Marital Status</option>
										<option value="single">Single</option>
										<option value="married">Married</option>
										<option value="divorce">Divorce</option>
									</select>
								</div>
							</div>
						<!-- Marital Status Ends -->
						<!-- Qualification & Profession Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="profile-partner-qualification-profession" id="profile-partner-qualification-profession" class="custom-select">
										<option value="select">Qualification & Profession</option>
										<option value="option1">Option 1</option>
										<option value="option2">Option 2</option>
									</select>
								</div>
							</div>
						<!-- Qualification & Profession Ends -->
						
						<!-- Date of Birth Starts -->
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label class="text-weight-medium">Date of Birth</label>
									<div class="d-flex justify-content-between">
										<select name="profile-dob-date" id="profile-dob-date" class="custom-select alt-1">
											<option value="dd">DD</option>
											<option value="01">01</option>
											<option value="02">02</option>
										</select>
										<select name="profile-dob-month" id="profile-dob-month" class="custom-select alt-1 mx-2">
											<option value="mm">MM</option>
											<option value="jan">JAN</option>
											<option value="feb">FEB</option>
										</select>
										<select name="profile-dob-year" id="profile-dob-year" class="custom-select alt-1">
											<option value="mm">YYYY</option>
											<option value="1990">1990</option>
											<option value="1991">1991</option>
										</select>
									</div>
								</div>
							</div>
						<!-- Date of Birth Ends -->
						
						</div>
					<!-- Fields Ends -->
					
					<!-- Submit Button Starts -->
						<p class="mt-3"><button type="submit" class="btn btn-main btn-style-2 text-weight-semi-bold text-big-2 animation rounded-2">Click Here to Add More Family Member</button></p>
					<!-- Submit Button Ends -->
					
					</div>
				<!-- Family Details Ends -->
				
				
				</div>
			<!-- Nested Row Ends -->
			<!-- Declaration Starts -->
				<div class="profile-form-declaration rounded-2 mt-lg-5 mb-5">
				<!-- Terms Starts -->
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" type="checkbox" value="" id="invalidCheck" required>
						<label class="custom-control-label text-big-2 lh-1" for="invalidCheck">
							I declare that the particulars furnished above are true to the best of my knowledge and agree that our familiy responsibility to make enquiry about the other party before the alliance is settled.
						</label>
					<!-- Submit Button Starts -->
						<p class="mt-3"><button type="submit" class="btn btn-main btn-style-2 text-weight-semi-bold text-big-2 animation rounded-2">Submit Form</button></p>
					<!-- Submit Button Ends -->
					</div>
				<!-- Terms Ends -->
				</div>
			<!-- Declaration Ends -->
			</form>
		<!-- Profile Form Ends -->
		</div>
	<!-- Main Container Ends -->
	<!-- Footer Starts -->
		<footer class="main-footer parallax">
		<!-- Nested Container Starts -->
			<div class="container px-md-0">
			<!-- Nested Row Starts -->
				<div class="row text-white">
				<!-- Site Info Starts -->
					<div class="col-md-4 col-sm-12">
						<div class="foot-col">
							<p class="pb-md-3"><img src="images/foot-logo.png" alt="Nayeebrahmin Community" class="img-fluid"></p>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
							<ul class="list-unstyled foot-col-address">
								<li class="d-flex"><i class="fa fa-map-marker text-color-brand"></i> # 11-13/9/A, Chandraingutta, Near Falaknuma, Hyderabad - 500053, Telangana.</li>
								<li class="d-flex"><i class="fa fa-envelope text-color-brand"></i> <a href="mailto:support@nayebrahmincommunity.com" class="text-white">support@nayebrahmincommunity.com</a></li>
								<li class="d-flex"><i class="fa fa-phone text-color-brand"></i> <a href="tel:+91 9988745632" class="text-white">+91 9988745632</a>, <a href="tel:040-27545544" class="text-white ml-2">040-27545544</a></li>
							</ul>
						</div>
					</div>
				<!-- Site Info Ends -->
				<!-- Our Services Links Starts -->
					<div class="col-md-2 col-sm-6 col-12">
						<div class="foot-col">
							<h5 class="text-weight-semi-bold hs-1">Our Services</h5>
							<ul class="list-unstyled foot-links-1 pt-md-3">
								<li><a href="#" class="text-white">Matrimony Services</a></li>
								<li><a href="#" class="text-white">Business Listing</a></li>
								<li><a href="#" class="text-white">Jobs Posting</a></li>
								<li><a href="#" class="text-white">Business Promotions</a></li>
								<li><a href="#" class="text-white">Community Events</a></li>
								<li><a href="#" class="text-white">Meeting Information </a></li>
							</ul>
						</div>
					</div>
				<!-- Our Services Links Ends -->
				<!-- More Page Links Starts -->
					<div class="col-md-2 col-sm-6 col-12">
						<div class="foot-col">
							<h5 class="text-weight-semi-bold hs-1">More Pages</h5>
							<ul class="list-unstyled foot-links-1 pt-md-3">
								<li><a href="#" class="text-white">Home</a></li>
								<li><a href="#" class="text-white">About Us</a></li>
								<li><a href="#" class="text-white">Matrimony</a></li>
								<li><a href="#" class="text-white">Services</a></li>
								<li><a href="#" class="text-white">Classifides</a></li>
								<li><a href="#" class="text-white">Members</a></li>
							</ul>
						</div>
					</div>
				<!-- More Page Links Ends -->
				<!-- Subscribe Newsletter Starts -->
					<div class="col-md-4 col-sm-12">
						<div class="foot-col">
							<h5 class="text-weight-semi-bold hs-1">Subscribe Newsletter</h5>
							<form class="foot-col-form pt-md-3">
								<p><input type="text" class="form-control rounded-2" placeholder="Your Email"></p>
								<button type="submit" class="btn btn-main rounded-2 animation">Submit</button>
							</form>
							<h3 class="text-weight-semi-bold">(+91) 99887 45632</h3>
						</div>
					</div>
				<!-- Subscribe Newsletter Ends -->
				</div>
			<!-- Nested Row Ends -->
			<!-- Social Media Links Starts -->
				<ul class="list-unstyled list-inline foot-sm-links text-center">
					<li class="list-inline-item rounded-circle"><a href="#"><img src="images/icons/sm/twitter-icon.png" alt="Twitter"></a></li>
					<li class="list-inline-item rounded-circle"><a href="#"><img src="images/icons/sm/whatsapp-icon.png" alt="Whatsapp"></a></li>
					<li class="list-inline-item rounded-circle"><a href="#"><img src="images/icons/sm/instagram-icon.png" alt="Instagram"></a></li>
					<li class="list-inline-item rounded-circle"><a href="#"><img src="images/icons/sm/fb-icon.png" alt="Facebook"></a></li>
					<li class="list-inline-item rounded-circle"><a href="#"><img src="images/icons/sm/google-plus-icon.png" alt="Google Plus"></a></li>
				</ul>
			<!-- Social Media Links Ends -->
			<!-- Copyright Starts -->
				<p class="copyright text-center text-white">Copyright &copy; <span class="date-stamp">2019</span>  <span class="text-color-brand">Nayeebrahmin Community</span> All Rights Reserved.</p>
			<!-- Copyright Ends -->
			</div>
		<!-- Nested Container Ends -->
		</footer>
	<!-- Footer Ends -->
	<!-- Template JS Files -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<script src="js/custom.js"></script>	
	</body>
</html>